
@using MSensis.ViewModels;
@model ClientViewModel
<!-- /.box-header -->
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>

                <th>Company</th>
                <th>Client</th>
                <th>Invoice Date</th>
                <th> Print pdf</th>
                <th> See document</th>
                <th> Update Invoice</th>
                <th> Delete Invoice</th>
                <th> Issue Invoice</th>
            </tr>
        </thead>
        @foreach (var item in Model.Pdfs)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Client.CompanyName)</td>
            <td>@Html.DisplayFor(modelItem => item.Invoice.Timestamp)</td>
            <td>  <a asp-action="CreatePDF" asp-controller="MSensis" asp-route-id="@item.Id">Download Pdf <i class="fa fa-download"></i></a></td>
            <td>  <a asp-action="ViewPdf" asp-controller="Home" asp-route-id="@item.Id">View <i class="fa fa-eye"></i></a> </td>
            <td>
                <a asp-action="Update_Invoice" asp-route-id="@item.Invoice.Id">Update <i class="fa fa-edit"></i></a>

            </td>
            <td>
                <a asp-action="Ιnvoice_del" asp-controller="MSensis" asp-route-id="@item.Invoice.Id" data-toggle="tooltip" data-position="top" data-delay="50" data-tooltip="Download PDF"
                   style="padding-right: 2px;">Delete Invoice<i class="fa fa-edit"></i></a>
            </td>
            <td>
                <a asp-action="Issue_Invoice" asp-controller="MSensis" asp-route-id="@item.Invoice.Id">Issue_Invoice <i class="fa fa-edit"></i></a>
            </td>

        </tr>
        }

    </table>
</div>

         