@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer


<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>


    <li class="active">
        <a href='@Url.Action("Create_Company","Account")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["Create Company"]</span>
        </a>
    </li>

    <li class="active">
        <a href='@Url.Action("Manage","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["My Companies"]</span>
      </a>
    </li>


    <li class="active">
        <a href='@Url.Action("Create_Invoice","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["Create Invoice"]</span>
      </a>
    </li>
    <li class="active">
        <a href='@Url.Action("Create_Client","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["Create Client"]</span>
      </a>
    </li>
    <li>
        <a href='@Url.Action("CClients","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["Clients of my companies"]</span>
      </a>
    </li>
    <li>
        <a href='@Url.Action("ManagePdfs","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["All Invoices"]</span>
      </a>
    </li>
    <li>
        <a href='@Url.Action("DraftPdfs","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["DraftPdfs"]</span>
      </a>
    </li>
     
    <li>
        <a href='@Url.Action("IssuedPdfs","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["ΙssuedPdfs"]</span>
      </a>
    </li>

    <li>
        <a href='@Url.Action("Index","Home")'>
            <i class="fa fa-circle-o"></i>
            <span>@_localizer["Back to Panel"]</span>
      </a>
    </li>

    

</ul>