@using MSensis.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model ClientViewModel


@{
    ViewData["Title"] = "Delete";

}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12" id="Column">

            <div class="box-header">
                <h2 class="box-title">@_localizer["Manage Pdf"]</h2>
            </div>


            <br />

            <div class="dropdown">

                <div class="form-group">
                    <label for="periodOfMonths" class="col-sm-2 control-label">@_localizer["Search Pdfs"]</label>
                    <select class="form-control" id="periodOfMonths">
                        <option value="1">@_localizer["Last Month"]</option>
                        <option value="3">@_localizer["Last 3 Months"]</option>
                        <option value="6">@_localizer["Last 6 Months"]</option>
                    </select>
                    <button type="submit" onclick="SendData()" id="getInvoices">@_localizer["Search"] </button>
                </div>

            </div>

            @*<button type="submit" onclick="SendData()">Search </button>*@
            <br />
        </div>


        <div id="partial">
            <partial name="_DataTable" />
        </div>
    </div>

</section>



<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable();
    });

    function Delete(id) {
         var r = confirm("Are you sure you want to Delete?");
         if (r == true) {
             debugger;
             $.ajax(
                 {
                     type: "POST",
                     url: '@Url.Action("Delete_Ιnvoice", "Home")',
                     data: {
                         id: id
                     },

                     error: function (result) {
                         alert("error");
                     },
                     success: function (result) {
                         if (result == true) {
                             var baseUrl = "/Home";
                             window.location.reload();
                         }
                         else {
                             alert("There is a problem, Try Later!");
                         }
                     }
                 });
         }
     }


    function SendData() {
        //var CategoryId = document.getElementById("CategoryId").value;

        //let data = {
        //    CategoryId: CategoryId
        //}
        //debugger;
        var period = document.getElementById("periodOfMonths").value;
        $.ajax({
            url: "/Home/GetDraftPdfs",
            data: { period: period },
            type: "POST",

            success: function (result) {

                console.log(result);
                var table = document.getElementById('example1');
                table.innerHTML = '';
                var html = '';
                html += '<table id="example1" class="table table-bordered table-striped"><thead><tr><th>@_localizer["Company"]</th><th>@_localizer["Client"]</th><th>@_localizer["Invoice Date"]</th><th> @_localizer["Print pdf"]</th><th> @_localizer["See document"]</th><th> @_localizer["Update Invoice"]</th><th> @_localizer["Delete Invoice"]</th><th> @_localizer["Issue Invoice"]</th></tr></thead >'
                $.each(result, function (i, item) {
                    html += '<tr><td>' + item.companyName + '</td><td>' + item.clientName + '</td><td>' + item.datetimeString + '<td>  <a asp-action="CreatePDF" asp-controller="MSensis" asp-route-id="' + item.pdfId +'">@_localizer["Download Pdf"] <i class="fa fa-download"></i></a></td></td><td><a asp-action="ViewPdf" asp-controller="Home" asp-route-id="' + item.pdfId + '">@_localizer["View"] <i class="fa fa-eye"></i></a> </td><td><a asp-action="Update_Invoice" asp-route-id="' + item.invoiceId + '">@_localizer["Update"] <i class="fa fa-edit"></i></a></td><td><a asp-action="Ιnvoice_del" asp-controller="MSensis" asp-route-id="' + item.invoiceId + '" data-toggle="tooltip" data-position="top" data-delay="50" data-tooltip="Download PDF"style="padding-right: 2px;">@_localizer["Delete Invoice"]<i class="fa fa-edit"></i></a></td><td><a asp-action="Issue_Invoice" asp-controller="MSensis" asp-route-id="' + item.invoiceId + '">@_localizer["Issue Invoice"] <i class="fa fa-edit"></i></a></td></tr>'

                })
                    $('#example1').append(html);


            }
        });

    }

</script>

